doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type="text/javascript", src="/javascripts/jquery3_1.js")
    script(type="text/javascript", src="/javascripts/moment.js")
    script(type="text/javascript", src="/bootstrap-3.3.7/js/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/common.js")
  body
    block content
